/*PALETTE*/
$color-yellow-1: #FDEE2D;
$color-yellow-2: #3B3A26;
$color-grey-1: #B3B3B3;
$color-grey-2: #343434;
$color-black-1: #424242;
/*END OF PALETTE*/


/*BORDER RADIUS*/
$br-2: 2px;
$br-8: 8px;
$br-16: 16px;
$br-20: 20px;
/*END OF BORDER RADIUS*/
