/*COLORS*/

$color-red: #FF6565;
$color-green: #65FFAC;
$color-black: #000000;
$color-white: #ffffff;
$color-yellow: #FFFF00;
$color-dark-asphalt: #202020;
$color-asphalt-black: #2D2B2F;

/*END OF COLORS*/


/*PALETTE*/

$color-yellow-hapi-1: #FDEE2D;
$color-yellow-hapi-2: #FBDE08;
$color-yellow-hapi-3: #F9CF01;
$color-yellow-hapi-4: #3B3A26;
$color-yellow-hapi-5: #524F28;
$color-yellow-hapi-6: #7C7629;
$color-yellow-hapi-7: #847E31;
$color-grey-hapi-1: #B3B3B3;
$color-grey-hapi-2: #9E9E9E;
$color-grey-hapi-3: #888888;
$color-grey-hapi-4: #4d4d4d;
$color-grey-hapi-5: #5F5F5F;
$color-grey-hapi-6: #383838;
$color-grey-hapi-7: #4F4F4F;
$color-grey-hapi-8: #343434;
$color-black-hapi-1: #131313;
$color-black-hapi-2: #424242;
$color-black-hapi-3: #262626;
$color-white-hapi-2: #F0F0F0;
$color-white-hapi-3: #D1D1D1;
$color-green-hapi-1: #4EBC66;
$color-green-hapi-2: #2E4432;
$color-green-hapi-3: #366240;
$color-red-hapi-1: #F65151;
$color-red-hapi-2: #7A3737;
$color-blue-hapi-1: #1E4E7A;

/*END OF PALETTE*/


/*BORDER RADIUS*/

$br-2: 2px;
$br-8: 8px;
$br-16: 16px;
$br-20: 20px;

/*END OF BORDER RADIUS*/
